// variables for the styling

//de 8 kleur
$single-letter_Color:#6D5565;

$main-background_Color:#2d2d2d;
$main-font_Color:#CCCCCC;

$background-color_Panel:$single-letter_Color;
$background-color_Panel_Btn:$background-color_Panel;
$background-color_Panel_Btn_border:$background-color_Panel_Btn;

//panel
$main-panel_Border_Color:#d6b2be;

