.title-heading-login {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

span.acht {
  color: #6D5565;
}

.panel-login {
  border: #d6b2be 1px solid;
}

.panel-heading-login {
  background-color: #6D5565;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: #cccccc;
  font-size: 24px;
}

.btn-login {
  background-color: #6D5565;
  border-color: #6D5565;
  color: #CCCCCC;
  width: 100%;
  margin-bottom: 25px;
}

body {
  background-color: #2d2d2d;
}