// de css voor de login pagina komt hier
.title-heading-login{
  //text-align: center;
  //font-size: 80px;
  margin-top: 125px;
  margin-bottom: 125px;
  //color:$main-font_Color;
}

span.acht {
  color: #6D5565;
}

.panel-login{
  border: $main-panel_Border_Color 1px solid;
}
.panel-heading-login{
  background-color: $background-color_Panel;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: $main-font_Color;
  font-size: 24px;
}

.btn-login{
  background-color: $background-color_Panel_Btn;
  border-color: #$background-color_Panel_Btn_border;
  color: $main-font_Color;
  width: 100%;
  margin-bottom: 25px;
}